.footer {
    width: 100vw;
    height: 100px;
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}
  
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    position: relative; 
}
  
.footer-bottom p {
    margin: 0;
}

.footer-bottom p a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
  
.scroll-to-top {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.5s ease, transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    right: 30px; 
}
  
.scroll-to-top img {
    width: 30px;
    height: 30px;
}
  
.scroll-to-top:hover {
    background-color: aquamarine;
    transform: scale(1.1);
}
  
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .scroll-to-top {
        margin-top: 20px;
        position: static; 
    }

    .scroll-to-top img {
        width: 25px;
        height: 25px;
    }
}
  
@media (max-width: 480px) {
    .scroll-to-top img {
        width: 20px;
        height: 20px;
    }
}
